.team-container {
    max-width: 1200px;
    margin: auto;
    text-align: left;
  }

  .team_header{
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  .team-title {
    font-size: 36px !important;
    color: #333;
    display: inline-block;
    background-color: #a8ff00;
    padding: 0 7px;
    border-radius: 7px;
  }
  
  .team-description {
    font-size: 18px;
    max-width: 470px;
    color: #333;
  }

  .team-description1 {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 18px;
    color: #333;
  }
  
  .team-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .team-card {
    background: #fff;
    border-radius: 45px;
    padding: 40px 35px;
    box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.991);
    text-align: left;
    border: 1px solid #191a23;
  }

  .header_for_card{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .main_titles_for_card{
    margin-top: 40px;
  }

  .team-img-wrapper {
    width: 100%;
    max-width: 90px;
    height: 100%;
    margin-bottom: 15px;
  }
  
  .team-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .team-name {
    font-size: 20px;
    color: #191a23;
  }
  
  .team-title1 {
    font-size: 16px;
    color: #191a23;
  }

  hr{
    margin-bottom: 10px;
    border: 0;
    /* Remove default border */
    border-bottom: 1px solid #191a23;
}
  
  .team-experience {
    margin-top: 10px;
    font-size: 14px;
    color: #191a23;
  }
  
  .see-all-team {
    margin-top: 40px;
    padding: 20px 76px;
    font-size: 16px;
    color: #fff;
    background: #191A23;
    border: none;
    border-radius: 14px;
    cursor: pointer;
  }

  .for_button_align{
    display: flex;
    justify-content: flex-end;
  }
  
  .see-all-team:hover {
    background: #555;
  }
  
  @media screen and (max-width: 970px) {  
    .team_header{
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .for_button_align{
        justify-content: center;
    }
}

  @media screen and (max-width: 768px) {  
    .team-img-wrapper {
      max-width: 70px;
    }
  
    .team-name {
      font-size: 18px;
    }
  
    .team-title1 {
      font-size: 14px;
    }
  
    .team-experience {
      font-size: 12px;
    }
  
    .see-all-team {
      font-size: 14px;
    }

    .team-title {
      font-size: 24px !important;
    }
  }